*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #c9e0fc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px;
}

h1{
    font-weight: bold;
    font-size: 40px;
    padding: 5px 5px 0 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav1{
    display: inline-block;
    text-align: right;
}

