*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px;
}

h1{
    font-weight: bold;
    font-size: 40px;
    padding: 5px 5px 0 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: black;
    
}

nav .nav1{
    display: inline-block;
    text-align: left;
    
}

nav .nav1 a{
    text-decoration: none;
    color: black;
    padding: 0 5px;
}


nav .auth{
    display: inline-block;
    text-align: right;
}

nav .auth a{
    text-decoration: none;
    color: black;
    padding: 0 5px;
}