<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Create Task</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Create Task</h1>

        <form method="POST">
            {% csrf_token %}

            
            <label for="title">Title</label>
            <input type="text" name="title" id="title" placeholder="Enter the Task" maxlegnth="200" Required/><br>
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="5" cols="30"></textarea><br>
            <label for="deadline">Deadline</label>
            <input type="datetime-local" name="deadline" id="deadline" Required/><br>

            <button type="submit">Create Task</button>
            
        </form>

        
        <script src="" async defer></script>
    </body>
</html>