{% extends "base.html" %}

{% block title %}Create Task{% endblock title %}

{% block header %}Create Task{% endblock header %}

{% block content %}


        <form method="POST">
            {% csrf_token %}

            <p>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" placeholder="Enter the Task" maxlegnth="200" Required/><br></p>
            <p>
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="5" cols="30"></textarea><br></p>
            <p>
            <label for="deadline">Deadline</label>
            <input type="datetime-local" name="deadline" id="deadline" Required/><br></p>

            <button type="submit">Create Task</button>
            
        </form>

        
        <script src="" async defer></script>

{% endblock content %}