{% extends 'base.html' %} 
{% block title %}Task List{% endblock title %}
{% block content %}
  <div class="body">

    <div class="header">
      <h1 >Your Tasks</h1>
    </div>


    {% for task in tasks %}
    <div class="tasklist">
      <h2><a href="{% url 'task.detail' task.id %}">{{task.title}}</a></h2>
    
      <div class="description">
        <p>{{task.description}}</p>
        
        <p class="duedate">Due: <b> {{task.deadline}}</b></p>
      </div>
    </div>
    {% endfor %}

{% endblock content %}
