<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/tasklist.css' %}">
    </head>
    <body>
        <nav>
            <div class="nav1">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">New</a>
            </div>
            <div class="Page-name">
                <a href="#">Page Name</a>
            </div>
            <div class="auth">
                <a href="#">Home</a>
                <a href="#">Home</a>
                <a href="#">Home</a>
            </div>

        </nav>
        
        {% block content %}

        {% endblock %}
            
        
        <script src="" async defer></script>
    </body>
</html>